################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SampleConsoleAppForGITDemo/.vs/SampleConsoleAppForGITDemo/FileContentIndex/262c0320-1e84-4db9-89db-ab4462bf7850.vsidx
/SampleConsoleAppForGITDemo/.vs/SampleConsoleAppForGITDemo/FileContentIndex/adfa10ea-7e68-48b5-877f-def9c57cfca2.vsidx
/SampleConsoleAppForGITDemo/.vs/SampleConsoleAppForGITDemo
/SampleConsoleAppForGITDemo/SampleConsoleAppForGITDemo/obj/Debug/net8.0/SampleConsoleAppForGITDemo.AssemblyInfoInputs.cache
